.mainDiv {
    background-color: #cecbcb;
    padding: 1rem;
    border-radius: 5px;
    width: 40%;
    height: 100vh;
    margin: 0 30%;
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .head {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
  }
  
  .codeZingerIcon {
    background-color: #333;
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
  }
  
  .closeButton {
    display: flex;
  }
  
  .notificationWatchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .notification {
    background-color: #ffcc80;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .notificationText {
    font-weight: bold;
  }
  
  .watchButton1 {
    margin-left: auto;
  }
  
  .des {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .watchButton {
    margin-left: 1rem;
  }
  
  .descriptionBox {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .buttonContainer {
    margin-top: 1rem;
  }
  .btn{
    margin-bottom: 10rem;
  }
  
  .activity {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .savedActivity {
    margin-bottom: 1rem;
  }
  
  .secondInputBox {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
  }
  
  .savedText {
    background-color: #f9f9f9;
    padding: 0.2rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
  