.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  background-color: antiquewhite;
  margin: 2rem;
}

.columnHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.popover {
  display: flex;
  align-items: center;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
 
}

.taskButtons {
  display: flex;
  margin-left: 5rem;
}

.newTask {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.addTaskButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

/* Add more custom styles as needed */
